* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor--primary: #0A001B;
    --cor--Background: #FFF;
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color: var(--cor--primary);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-center {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    min-height: 100%;
    height: 400px;
    background-color: var(--cor--primary);
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.about-me h2, p {
    color: white;
}

.about-me h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.about-me p {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 600px;
    line-height: 1.5;
}

.header-center img {
    width: 150px;
    height: 150px;
}

.curve {
    min-width: 100%;
    height: 100px;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

main {
    min-width: 100%;
    background-color: var(--cor--Background);
}

main h3 {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    color: var(--cor--body);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card {
    max-width: 300px;
    width: 100%;
    text-decoration: none;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}  

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card h5 {
    color: var(--cor--primary);
    margin: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card img {
    width: 150px;
    height: 150px;
}

footer {
    min-width: 100%;
    height: 100px;
    background-color: var(--cor--Background);
    border-top: 1px solid var(--cor--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    color: var(--cor--primary);
    font-size: 1rem;
}

.footer-rigth a:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.footer-rigth {
    display: flex;
    gap: 20px;
}

@media(max-width: 500px) {
    .header-center {
        height: auto;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        position: relative;
    }

    .header-center img {
        position: absolute;
        top: 0;
    }

    .about-me {
        align-items: center;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 20px;
        max-width: 90%;
    }

    .curve {
        height: 50px;
    }

    .container-card {
        min-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: 220px;
        grid-gap: 5px;
        padding: 10px;
    }

    .card {
        max-width: 150px;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        align-items: normal;
        position: relative;
        height: 150px;
    }

    footer p {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .footer-rigth {
        position: absolute;
        top: 80px;
        left: 10px;
    }
}